Django==5.2.1
djangorestframework==3.15.2
psycopg2==2.9.9
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
sqlparse==0.5.2
Faker==25.2.0
selenium==4.23.1
locust==2.31.6
chromedriver-autoinstaller==0.6.4
numpy==2.1.1
pandas==2.2.2
scikit-learn==1.5.1