<div class="modal-overlay" id="login-modal">

    <div class="modal login">

        <div class="modal-header">
            <i id="icon-title" class="fa-solid fa-arrow-right-to-bracket"></i>
            <h2>Inicio de sesión</h2>

            <p>Ingresa tus datos para acceder</p>

            <button type="button" class="close-button" id="login-close" title="Cerrar">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <p class="mandatory">* Campo obligatorio</p>

        <div id="login-content">
            
            {% if login_form.errors %}
                <div class="errors">
                    {% for error in login_form.non_field_errors %}
                        <div class="modal-error">
                            <i class="fa-regular fa-circle-xmark"></i>
                            {{ error }}
                        </div>
                    {% endfor %}

                    {% for field in login_form %}
                        {% for error in field.errors %}
                            <div class="modal-error">
                                <i class="fa-regular fa-circle-xmark"></i>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" action="{% url 'login' %}" novalidate>
                {% csrf_token %}

                <input type="hidden" name="next" value="{{ request.get_full_path }}">

                <p>
                    {{ login_form.username.label_tag }}
                    {{ login_form.username }}
                </p>

                <p>
                    {{ login_form.password.label_tag }}
                    {{ login_form.password }}
                </p>

                <div class="final-buttons">
                    <button type="submit" class="rounded-button" id="login-submit">
                        Iniciar sesión
                    </button>
                </div>

            </form>
            
        </div>

    </div>

</div>