{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/activity-history.css' %}">

<div class="history-title">
    <i class="fa-solid fa-rectangle-list"></i>
    Historial de Actividades
</div>

<div class="filters-container">

    <button type="button" id="filters-button">
        <i class="fa-solid fa-filter"></i>
        Filtrar
    </button>

    <div class="filters-panel" id="filters-panel">

        <form method="get" id="filters-form">

            <div class="filter-group">

                <label for="activity-type">
                    Mostrar
                </label>

                <select name="type" id="activity-type">

                    <option value="all"
                        {% if activity_type == "all" %}selected{% endif %}>
                        Todas las actividades
                    </option>

                    <option value="study"
                        {% if activity_type == "study" %}selected{% endif %}>
                        Estudio
                    </option>

                    <option value="sport"
                        {% if activity_type == "sport" %}selected{% endif %}>
                        Deporte
                    </option>

                </select>

            </div>

            <div class="filter-group">

                <label for="sort">
                    Ordenar
                </label>

                <select name="sort" id="sort">
                    
                    <option value="newest"
                        {% if sort == "newest" %}selected{% endif %}>
                        Más recientes primero
                    </option>

                    <option value="oldest"
                        {% if sort == "oldest" %}selected{% endif %}>
                        Más antiguas primero
                    </option>

                </select>

            </div>

            <div class="filter-group">

                <label>
                    Rango de fechas
                </label>

                <div class="range-inputs">
                    
                    <input type="date" name="date_from"value="{{ date_from }}">

                    <span>hasta</span>

                    <input type="date" name="date_to" value="{{ date_to }}">

                </div>

            </div>


            <div class="specific-filters" id="study-filters">
                
                <h2>
                    <i class="fa-solid fa-book"></i>
                    Filtros de estudio
                </h2>

                <div class="filter-group">

                    <label for="subject">
                        Asignatura
                    </label>

                    <select name="subject" id="subject">

                        <option value="">
                            Todas las asignaturas
                        </option>

                        {% for subject in subjects %}
                            <option
                                value="{{ subject.id }}"
                                {% if subject_id|stringformat:"s" == subject.id|stringformat:"s" %}
                                    selected
                                {% endif %}
                            >
                                {{ subject.name }}
                            </option>
                        {% endfor %}

                    </select>

                </div>

                <div class="filter-group">

                    <label for="study-type">
                        Tipo de estudio
                    </label>

                    <select name="study_type" id="study-type">

                        <option value="">
                            Todos los tipos
                        </option>

                        {% for value, label in study_type_choices %}
                            <option
                                value="{{ value }}"
                                {% if study_type == value %}
                                    selected
                                {% endif %}
                            >
                                {{ label }}
                            </option>
                        {% endfor %}

                    </select>

                </div>

                <div class="filter-group">

                    <label>
                        Concentración
                    </label>

                    <div class="range-inputs">

                        <input
                            type="number"
                            name="concentration_min"
                            min="0"
                            max="10"
                            placeholder="Mín."
                            value="{{ concentration_min }}"
                        >

                        <span>hasta</span>

                        <input
                            type="number"
                            name="concentration_max"
                            min="0"
                            max="10"
                            placeholder="Máx."
                            value="{{ concentration_max }}"
                        >

                    </div>

                </div>

            </div>


            <div class="specific-filters" id="sport-filters">

                <h2>
                    <i class="fa-solid fa-person-running"></i>
                    Filtros de deporte
                </h2>

                <div class="filter-group">

                    <label for="sport-type">
                        Tipo de deporte
                    </label>

                    <select name="sport_type" id="sport-type">

                        <option value="">
                            Todos los deportes
                        </option>

                        {% for value, label in sport_type_choices %}
                            <option
                                value="{{ value }}"
                                {% if sport_type == value %}
                                    selected
                                {% endif %}
                            >
                                {{ label }}
                            </option>
                        {% endfor %}

                    </select>

                </div>

                <div class="filter-group">

                    <label for="intensity">
                        Intensidad
                    </label>

                    <select name="intensity" id="intensity">

                        <option value="">
                            Todas las intensidades
                        </option>

                        {% for value, label in intensity_choices %}
                            <option
                                value="{{ value }}"
                                {% if intensity == value %}
                                    selected
                                {% endif %}
                            >
                                {{ label }}
                            </option>
                        {% endfor %}

                    </select>

                </div>
                
                <div class="filter-group">

                    <label>
                        Distancia (km)
                    </label>

                    <div class="range-inputs">

                        <input
                            type="number"
                            name="distance_min"
                            min="0"
                            step="0.1"
                            placeholder="Mín."
                            value="{{ distance_min }}"
                        >

                        <span>hasta</span>

                        <input
                            type="number"
                            name="distance_max"
                            min="0"
                            step="0.1"
                            placeholder="Máx."
                            value="{{ distance_max }}"
                        >

                    </div>

                </div>

            </div>


            <div class="final-buttons">
                
                <button type="submit">
                    <i class="fa-solid fa-check"></i>
                    Aplicar filtros
                </button>
                
                <a href="{% url 'activity_history' %}">
                    Limpiar filtros
                </a>

            </div>

        </form>

    </div>

</div>

<div class="header">
    <div class="activities-info">
        <p>Se encontraron {{ total_activities_count }} actividades</p>
    </div>
</div>

{% for item in page_obj %}

    <div class="activity-card">

        {% if item.type == "study" %}
        
            <div class="title">
                <i class="fa-solid fa-book"></i>
                <h2>{{ item.activity.title }}</h2>
            </div>

            <p class="type">Estudio</p>

            <p>{{ item.activity.description }}</p>

            <div class="activity-info">

                <div class="item-info">
                    <span>Fecha</span>
                    <strong>{{ item.start_datetime|date:"d/m/Y" }}</strong>
                </div>

                <div class="item-info">
                    <span>Inicio</span>
                    <strong>{{ item.start_datetime|time:"H:i" }}</strong>
                </div>

                <div class="item-info">
                    <span>Fin</span>
                    <strong>{{ item.end_datetime|time:"H:i" }}</strong>
                </div>

                <div class="item-info">
                    <span>Duración</span>
                    <strong>{{ item.duration }}</strong>
                </div>

                <div class="item-info">
                    <span>Asignatura</span>
                    <strong>{{ item.activity.subject }}</strong>
                </div>

                <div class="item-info">
                    <span>Tipo</span>
                    <strong>{{ item.activity.get_study_type_display }}</strong>
                </div>

                <div class="item-info">
                    <span>Concentración</span>
                    <strong>{{ item.activity.concentration }}/10</strong>
                </div>

            </div>

        {% else %}

            <div class="title">
                <i class="fa-solid fa-person-running"></i>
                <h2>{{ item.activity.title }}</h2>
            </div>

            <p class="type">Deporte</p>
            
            <p>{{ item.activity.description }}</p>

            <div class="activity-info">

                <div class="item-info">
                    <span>Fecha</span>
                    <strong>{{ item.start_datetime|date:"d/m/Y" }}</strong>
                </div>

                <div class="item-info">
                    <span>Inicio</span>
                    <strong>{{ item.start_datetime|time:"H:i" }}</strong>
                </div>

                <div class="item-info">
                    <span>Fin</span>
                    <strong>{{ item.end_datetime|time:"H:i" }}</strong>
                </div>

                <div class="item-info">
                    <span>Duración</span>
                    <strong>{{ item.duration }}</strong>
                </div>

                <div class="item-info">
                    <span>Tipo</span>
                    <strong>{{ item.activity.get_sport_type_display }}</strong>
                </div>

                <div class="item-info">
                    <span>Intensidad</span>
                    <strong>{{ item.activity.get_intensity_display }}</strong>
                </div>

                <div class="item-info">
                    <span>Distancia (km)</span>
                    <strong>{{ item.activity.distance }}</strong>
                </div>

            </div>

        {% endif %}

    </div>

{% endfor %}

{% if page_obj.paginator.num_pages > 1 %}

    <div class="pagination">

        {% if page_obj.has_previous %}
            <a href="?{{ query }}&page=1"><<</a>
            <a href="?{{ query }}&page={{ page_obj.previous_page_number }}"><</a>
        {% else %}
            <span class="disabled"><<</span>
            <span class="disabled"><</span>
        {% endif %}

        {% for num in display_pages %}
            {% if num == "..." %}
                <span>...</span>
            {% elif num == page_obj.number %}
                <span class="current"> {{ num }}</span>
            {% else %}
                <a href="?{{ query }}&page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?{{ query }}&page={{ page_obj.next_page_number }}">></a>
            <a href="?{{ query }}&page={{ page_obj.paginator.num_pages }}">>></a>
        {% else %}
            <span class="disabled">></span>
            <span class="disabled">>></span>
        {% endif %}

    </div>
    
{% endif %}

<script>
    
    const filtersButton = document.getElementById("filters-button");
    const filtersPanel = document.getElementById("filters-panel");
    const activityType = document.getElementById("activity-type");
    const studyFilters = document.getElementById("study-filters");
    const sportFilters = document.getElementById("sport-filters");
    const filtersForm = document.getElementById("filters-form");
    
    filtersButton.addEventListener("click", () => {
        filtersPanel.classList.toggle("active");
    });
    
    function updateSpecificFilters() {
        if (activityType.value === "study") {
            studyFilters.style.display = "block";
            sportFilters.style.display = "none";
        
        } else if (activityType.value === "sport") {
            studyFilters.style.display = "none";
            sportFilters.style.display = "block";
        
        } else {
            studyFilters.style.display = "none";
            sportFilters.style.display = "none";
        }
    }
    
    activityType.addEventListener("change", updateSpecificFilters);
    
    updateSpecificFilters();

    filtersForm.addEventListener("submit", function() {
        const inputs = filtersForm.querySelectorAll("input, select");

        inputs.forEach(function (input) {
            if (input.value === "") {
                input.disabled = true;
            }
        });
    });

</script>

{% endblock %}