{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/activity-history.css' %}">

<div class="history-title">
    <i class="fa-solid fa-rectangle-list"></i>
    Historial de Actividades
</div>

<div class="header">
    <div class="activities-info">
        <p>Se encontraron {{ total_activities_count }} actividades</p>
    </div>
</div>

{% for item in page_obj %}

    <div class="activity-card">

        {% if item.type == "study" %}
        
            <div class="title">
                <i class="fa-solid fa-book"></i>
                <h2>{{ item.activity.title }}</h2>
            </div>

            <p class="type">Estudio</p>

            <p>{{ item.activity.description }}</p>

            <div class="activity-info">

                <div class="item-info">
                    <span>Fecha</span>
                    <strong>{{ item.start_datetime|date:"d/m/Y" }}</strong>
                </div>

                <div class="item-info">
                    <span>Inicio</span>
                    <strong>{{ item.start_datetime|time:"H:i" }}</strong>
                </div>

                <div class="item-info">
                    <span>Fin</span>
                    <strong>{{ item.end_datetime|time:"H:i" }}</strong>
                </div>

                <div class="item-info">
                    <span>Duración</span>
                    <strong>{{ item.duration }}</strong>
                </div>

                <div class="item-info">
                    <span>Asignatura</span>
                    <strong>{{ item.activity.subject }}</strong>
                </div>

                <div class="item-info">
                    <span>Tipo</span>
                    <strong>{{ item.activity.get_study_type_display }}</strong>
                </div>

                <div class="item-info">
                    <span>Concentración</span>
                    <strong>{{ item.activity.concentration }}/10</strong>
                </div>

            </div>

        {% else %}

            <div class="title">
                <i class="fa-solid fa-person-running"></i>
                <h2>{{ item.activity.title }}</h2>
            </div>

            <p class="type">Deporte</p>
            
            <p>{{ item.activity.description }}</p>

            <div class="activity-info">

                <div class="item-info">
                    <span>Fecha</span>
                    <strong>{{ item.start_datetime|date:"d/m/Y" }}</strong>
                </div>

                <div class="item-info">
                    <span>Inicio</span>
                    <strong>{{ item.start_datetime|time:"H:i" }}</strong>
                </div>

                <div class="item-info">
                    <span>Fin</span>
                    <strong>{{ item.end_datetime|time:"H:i" }}</strong>
                </div>

                <div class="item-info">
                    <span>Duración</span>
                    <strong>{{ item.duration }}</strong>
                </div>

                <div class="item-info">
                    <span>Tipo</span>
                    <strong>{{ item.activity.get_sport_type_display }}</strong>
                </div>

                <div class="item-info">
                    <span>Intensidad</span>
                    <strong>{{ item.activity.get_intensity_display }}</strong>
                </div>

                <div class="item-info">
                    <span>Distancia (km)</span>
                    <strong>{{ item.activity.distance }}</strong>
                </div>

            </div>

        {% endif %}

    </div>

{% endfor %}

{% if page_obj.paginator.num_pages > 1 %}

    <div class="pagination">

        {% if page_obj.has_previous %}
            <a href="?page=1"><<</a>
            <a href="?page={{ page_obj.previous_page_number }}"><</a>
        {% else %}
            <span class="disabled"><<</span>
            <span class="disabled"><</span>
        {% endif %}

        {% for num in display_pages %}
            {% if num == "..." %}
                <span>...</span>
            {% elif num == page_obj.number %}
                <span class="current"> {{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% else %}
            <span class="disabled">></span>
            <span class="disabled">>></span>
        {% endif %}

    </div>
    
{% endif %}

{% endblock %}