<div class="modal-overlay" id="sport-modal">

    <div class="modal">

        <div class="modal-header">
            <i id="icon-title" class="fa-solid fa-person-running"></i>
            <h2>Registrar Actividad Deportiva</h2>

            <button type="button" class="close-button" id="sport-close">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <p class="mandatory">* Campo obligatorio</p>

        {% if sport_form.errors %}
            <div class="errors">
                {% for error in sport_form.non_field_errors %}
                    <div class="modal-error">
                        <i class="fa-regular fa-circle-xmark"></i>
                        {{ error }}
                    </div>
                {% endfor %}

                {% for field in sport_form %}
                    {% for error in field.errors %}
                        <div class="modal-error">
                            <i class="fa-regular fa-circle-xmark"></i>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" action="{% url 'create_sport_activity' %}" novalidate>
            {% csrf_token %}

            <input type="hidden" name="next" value="{{ request.get_full_path }}">

            {{ sport_form.as_p }}

            <button type="submit" class="rounded-button" id="sport-submit">
                <i class="fa-regular fa-floppy-disk"></i>
                Guardar
            </button>
        </form>

    </div>

</div>